########################################################
Hola mundo!!!!

{% if "lvw" in (ansible_hostname) %}
Este es un host virtual que corre sobre VMware
{% else %}
Este es un host fìsico o particióde AIX
{% endif %}

{% if ansible_os_family == 'RedHat' %}
Host: Este es un host Redhat
{% elif ansible_os_family == 'AIX' %}
Host: Este es un ambiente AIX
{% endif %}

########################################################
